<?xml version="1.0" encoding="utf-8"?>
<configuration>
        <startup>
                <supportedRuntime version="v7.0" sku=".NETCore,Version=v7.0" />
        </startup>
        <connectionStrings>
                <add name="OfficeDB"
             connectionString="Server=mysql-230214.srv.hoster.ru;Database=srv230214_Site;User Id=srv230214_Site;Password=123263;Charset=utf8;"
             providerName="MySql.Data.MySqlClient"/>
        </connectionStrings>
</configuration>